# IDILESOM_COOKIE: Кука для авторизации на сайте idilesom.com
# Её можно получить в браузере через инструменты разработчика (F12) -> Application -> Cookies.
IDILESOM_COOKIE="здесь_должна_быть_ваша_кука"

# LOCAL_PORT: Порт для локального запуска сервера на вашем компьютере (по умолчанию 3000).
# ВНИМАНИЕ: Если вы запускаете проект здесь (в AI Studio), НЕ указывайте этот параметр!
# AI Studio требует жесткой привязки к порту 3000.
LOCAL_PORT=3005